@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Book

@section Navbar{
    @{
        <partial name="_Navbar" />
    }
}

<h2>Create Book</h2>

<div class="row">
    <div class="col-md-12">
        <div class="">
            <form method="POST" enctype="multipart/form-data">



                <div class="mb-3">
                    <label asp-for="Title" class="form-label">Title</label>
                    <input asp-for="Title" type="text" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" row="3" type="text" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Author" class="form-label">Author</label>
                    <input asp-for="Author" type="text" class="form-control">
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ISBN" class="form-label">ISBN</label>
                    <input asp-for="ISBN" type="text" class="form-control">
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="CategoryId" class="form-label">Category</label>
                    <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" type="text" class="form-select">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ImageUrl" class="form-label">Image</label>
                    <input asp-for="ImageUrl" id="uploadImage" name="file" type="file" />
                </div>

                <div class="mb-3">
                    <label asp-for="Price" class="form-label">Price</label>
                    <input asp-for="Price" type="text" class="form-control">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <button type="submit" onclick="return ValidateInput()" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<script>
    function ValidateInput() {
        if (document.getElementById("uploadImage").value == "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please Upload An Image'
            })
            return false;
        }
        return true;
    }
    

    
</script>